$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

$main-color: #49a98a ;

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
   font-family: 'Source Sans Pro', sans-serif;
    font-weight:400;
    text-align: center;
}

h1,h2,h3,h4{
font-family: 'Source Sans Pro', sans-serif;
font-weight:600;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

a{
color:$main-color;
}

a:hover, a:focus {
color: #777777;
text-decoration: underline;
}



/* Custom page header */
.header {
   

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

.logo-text{
font-family: 'Leckerli One', cursive;
font-size:32px;
color:$main-color;
}

.nav > li > a {

    padding: 10px 5px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
   
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
body{
text-align: left;
}

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
     .logo-text{
font-size:42px;

}   

}



.img-responsive{
padding:0px;
-webkit-transition: opacity 1s;
transition:opacity 1s;
opacity:0.8;

}
.work:hover .img-responsive, .work:hover .img-responsive{

opacity:1;
}
.work:hover{
background:#f1f1f1;
}

.btn-primary{
color: #fff;
background-color: #999999;
border-color: #999999;
border-radius: 0px;
text-transform: uppercase;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle{
background-color: #999999;
border-color: #999999;
}

.work:hover .btn-primary{
background-color: $main-color;
border-color:$main-color;
}

.work {
    padding:30px 10px;
    border-bottom: 2px solid $main-color;
    .label-primary{
background-color: #bbbbbb;
font-size: 100%;
    }
    ul{
    margin-left:0px;
    }
    ul li{
    padding:0px;
        margin-top:12px;
    
    }
    
}

.page-header {
 border-bottom: 0px;
    margin:20px 0px 0px;
}

footer{
padding: 20px 0px;
}

.nav > li > a:hover, .nav > li > a:focus{
background-color: #ffffff;
}